#title {
    background-color: #97d564;
    border-radius: 0;
    margin: 0; 
    display: flex;
    border: 5px solid #264b0f;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    z-index: 1000;
    height: 6vh;
    justify-content: center;
    align-items: center;
    max-height: 8vh;
    max-width: 100%;
    position: fixed;
}
